<div class="container" >
  <div class="row" >
    <h1>Laba1 <small>QR и Крылов</small></h1>
  </div>
  <div class="row" >
    <div class="col-md-6" >
      <form>
        <textarea class="form-control" id="matrix" rows="10" placeholder="Матрица" ></textarea>
        <input type="button" onclick="genMatrix();" class="form-control btn btn-default" value="Генерация матрицы" />
        <input type="button" onclick="eigenvalues();" class="form-control btn btn-default" value="Найти собственные значения" />
      </form>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6" >
      <h3>Ответ:</h3>
      <span id="answer"></span>
      <h4>Итерации:</h4>
      <span id="iter"></span>
    </div>
  </div>
  <div class="row" >
    <h2>Статистика</h2>
    <div class="col-md-6" >
      <form>
        <div class="col-md-2" >
          <label>n от</label>
        </div>
        <div class="col-md-4" >
          <input type="textbox" value="2" id="from_dim" class="form-control" />
        </div>
        <div class="col-md-2" >
          <label>n до</label>
        </div>
        <div class="col-md-4" >
          <input type="textbox" value="5" id="to_dim" class="form-control" />
        </div>
        <input type="button" onclick="statistics();" class="form-control btn btn-default" value="Запустить" />
      </form>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6" >
      <div id="plot1" >
      </div>
      <div id="plot2" >
      </div>
    </div>
  </div>
</div>

