<div class="container" >
  <div class="row" >
    <h1>Laba2 <small>Интерполяция 1 и 2 формулами Ньютона</small></h1>
  </div>
  <div class="row" >
    <div class="col-md-6" >
      <form>
        <input class="form-control" id="f" placeholder="f(x)" />
        <div class="form-group">
          <div class="col-md-2" >
            <label class="pull-right">n = 4*</label>
          </div>
          <div class="col-md-2" >
            <input class="form-control" id="n" value="10" />
          </div>
          <div class="col-md-2" >
            <label class="pull-right">a = </label>
          </div>
          <div class="col-md-2" >
            <input class="form-control" id="a" value="0" />
          </div>
          <div class="col-md-2" >
            <label class="pull-right">b = </label>
          </div>
          <div class="col-md-2" >
            <input class="form-control" id="b" value="10" />
          </div>
        </div>
        <input type="button" onclick="interpolate_straight();" class="form-control btn btn-default" value="Первая формула Ньютона" />
        <input type="button" onclick="interpolate_reversed();" class="form-control btn btn-default" value="Вторая формула Ньютона" />
      </form>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6" >
      <h3>Ответ:</h3>
      <div id="answer"></div>
      <div id="answer_real"></div>
    </div>
  </div>
</div>

